@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Light.otf);
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  height: 1062px;
  background: url(../img/bg_header.jpg) no-repeat center/cover;
  position: relative;
}

header .top-menu__block {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 25px 0 25px 0;
}

header .top-menu__block .top-menu {
  width: 97%;
  margin-left: auto;
  position: relative;
}

header .top-menu__block .top-menu__toggler-icon {
  display: none;
}

header .top-menu__block .top-menu__navbar-nav {
  margin: 0;
  padding: 0;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .top-menu__block .top-menu__navbar-nav .nav-item {
  list-style: none;
}

header .top-menu__block .top-menu__navbar-nav .nav-item .nav-link {
  font-family: Dosis;
  font-size: 17px;
  font-weight: 400;
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all, 0.3s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
}

header .top-menu__block .top-menu__navbar-nav .nav-item .nav-link:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

header #img_logo {
  position: absolute;
  width: 340px;
  top: 50.3%;
  left: 49.7%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
  header .top-menu__block {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px 0 25px 0;
  }
  header .top-menu__block .container {
    width: 100%;
  }
  header .top-menu__block .top-menu {
    width: 100%;
    margin-left: 0;
  }
  header .top-menu__block .top-menu__toggler-icon {
    display: block;
    width: 45px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  header .top-menu__block .top-menu__toggler-icon:hover {
    -webkit-filter: brightness(1000%);
    filter: brightness(1000%);
  }
  header .top-menu__block .top-menu__navbar-nav {
    position: absolute;
    top: 178%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    padding-bottom: 20px;
    display: none;
  }
  header .top-menu__block .top-menu__navbar-nav .nav-item {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
  }
  header .top-menu__block .top-menu__navbar-nav .nav-item .nav-link {
    font-size: 22px;
  }
  header #img_logo {
    width: 320px;
    top: 51.3%;
    left: 49.6%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 530px;
  }
  header .top-menu__block .top-menu__toggler-icon {
    width: 35px;
    margin-right: 20px;
  }
  header .top-menu__block .top-menu__navbar-nav {
    top: 200%;
  }
  header .top-menu__block .top-menu__navbar-nav .nav-item {
    margin-bottom: 20px;
  }
  header .top-menu__block .top-menu__navbar-nav .nav-item .nav-link {
    font-size: 17px;
  }
  header #img_logo {
    width: 310px;
    top: 51.3%;
    left: 49.6%;
  }
}

@media screen and (max-width: 567px) {
  .container {
    width: 300px;
  }
}

.section_info {
  width: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

.section_info .section_info_h1 {
  font-family: Dosis;
  font-size: 50px;
  font-weight: 400;
  color: #99684f;
  margin: 0;
  text-transform: uppercase;
}

.section_info .section_info_hr {
  width: 430px;
  background: #000;
  position: absolute;
  top: 21px;
}

.section_info .section_p {
  margin: 0;
  margin-top: 40px;
  width: 60%;
  font-size: 14px;
  font-weight: 400;
  color: #798285;
  text-align: center;
  line-height: 1.5;
}

.date_line_title {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.date_line_title .date_span {
  font-size: 14px;
  font-weight: 700;
  color: #575757;
}

.date_line_title .line_hr {
  width: inherit;
}

.date_line_title .title_span {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.about_event {
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about_event h1 {
  margin: 0;
  font-size: 23px;
  font-weight: 400;
  color: #000;
}

.about_event p {
  width: 97%;
  font-size: 14px;
  font-weight: 400;
  color: #acacac;
  line-height: 1.5;
}

.about_event .play_disco {
  width: 196px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: auto;
  margin-top: 30px;
  overflow: hidden;
  cursor: pointer;
}

.about_event .play_disco img {
  width: 196px;
  height: 56px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.about_event .play_disco img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.about_event .play_disco span {
  position: absolute;
  font-size: 14px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
}

.about_event .play_disco #first_play {
  color: #fff;
}

.about_event .visit_buy {
  width: 196px;
  height: 56px;
  border: 1px solid #b0b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.about_event .visit_buy span {
  font-size: 14px;
  font-weight: 900;
  color: #000;
  margin-right: 15px;
}

.about_event .visit_buy:hover {
  background: #b0b3b3;
}

#discographi {
  width: 100%;
  height: 1700px;
  background: url(../img/bg_discography.jpg) no-repeat bottom;
}

.disco {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.disco .discographi_content {
  width: inherit;
  height: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 150px;
}

.disco .discographi_content .dis_cont {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.disco .discographi_content .dis_cont .date_line_title {
  margin-top: 15px;
  width: 430px;
  margin-left: 20px;
}

.disco .discographi_content .dis_cont #date_line_title_03 {
  margin-top: 40px;
}

@media screen and (max-width: 1199px) {
  .disco .discographi_content .dis_cont .date_line_title {
    width: 330px;
  }
  .section_info .section_p {
    width: 73%;
  }
  .about_event {
    width: 575px;
  }
}

@media screen and (max-width: 991px) {
  #discographi {
    height: 1800px;
  }
  .section_info .section_p {
    width: 87%;
  }
  .about_event {
    width: inherit;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about_event h1 {
    text-align: center;
  }
  .about_event p {
    text-align: center;
  }
  .about_event .play_disco {
    margin: 0 auto;
    margin-top: 20px;
  }
  .disco .discographi_content {
    height: 1125px;
    margin-top: 70px;
  }
  .disco .discographi_content .dis_cont {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .disco .discographi_content .dis_cont .date_line_title {
    margin-top: 0;
    width: inherit;
    margin-left: 0;
  }
  .disco .discographi_content .dis_cont #date_line_title_03 {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .disco .discographi_content {
    height: 1220px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 567px) {
  .section_info {
    margin-top: -20px;
  }
  .section_info .section_info_h1 {
    font-size: 35px;
  }
  .section_info .section_info_hr {
    width: 250px;
    top: 11px;
  }
  .section_info .section_p {
    font-size: 12px;
    width: 89%;
  }
  .date_line_title {
    width: 285px;
  }
  .date_line_title .date_span {
    font-size: 12px;
  }
  .date_line_title .title_span {
    font-size: 12px;
  }
  .about_event {
    width: 285px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 40px;
  }
  .about_event h1 {
    font-size: 16px;
  }
  .about_event p {
    width: 285px;
    font-size: 12px;
  }
  .about_event .play_disco {
    width: 118px;
    height: 34px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .about_event .play_disco img {
    width: 118px;
    height: 34px;
  }
  .about_event .play_disco span {
    font-size: 10px;
  }
  .about_event .visit_buy {
    width: 130px;
    height: 40px;
  }
  #discographi {
    height: 1800px;
  }
  .disco .discographi_content {
    height: 1313px;
    margin-top: 50px;
  }
  .disco .discographi_content .dis_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .disco .discographi_content .dis_cont .date_line_title {
    margin-top: 15px;
    width: 285px;
    margin-left: 0;
  }
  .disco .discographi_content .dis_cont #date_line_title_03 {
    margin-top: 20px;
  }
}

@font-face {
  font-family: Mariad;
  src: url(../fonts/MyriadPro-Regular.otf);
}

#concert_tours {
  width: 100%;
  height: 1300px;
  background: url(../img/bg_concert_tours.jpg) no-repeat bottom;
}

.con_turs {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.con_turs .section_info {
  margin-top: 100px;
}

.con_turs .section_info .section_info_h1 {
  font-family: Mariad;
  color: #7aafb0;
}

.con_turs .section_info .section_info_p {
  width: 640px;
}

.con_turs .tours_cont {
  margin-top: 400px;
  margin-left: 20px;
}

.con_turs .tours_cont .about_event {
  margin-top: 80px;
}

.con_turs .tours_cont .about_event p {
  color: #798285;
}

.con_turs .tours_cont .about_event .visit_buy {
  margin-top: 35px;
}

@media screen and (max-width: 991px) {
  #concert_tours {
    height: 1200px;
  }
  .con_turs .tours_cont {
    margin-top: 340px;
    margin-left: 40px;
  }
  .con_turs .tours_cont .about_event {
    margin-top: 50px;
    margin-left: 0;
  }
  .con_turs .tours_cont .about_event p {
    width: 500px;
  }
  .con_turs .tours_cont .about_event .visit_buy {
    margin-top: 25px;
  }
}

@media screen and (max-width: 567px) {
  #concert_tours {
    height: 1200px;
  }
  .con_turs {
    margin-top: -20px;
  }
  .con_turs .tours_cont {
    margin-left: 10px;
  }
  .con_turs .tours_cont .about_event {
    margin-top: 50px;
    margin-left: 0;
  }
  .con_turs .tours_cont .about_event p {
    width: 285px;
  }
  .con_turs .tours_cont .about_event .visit_buy {
    margin-top: 60px;
  }
}

.let_comp {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 100px;
}

.let_comp .section_info {
  margin-top: 100px;
}

.let_comp .section_info .section_info_h1 {
  color: #000;
}

.let_comp .section_info .section_info_hr {
  width: 480px;
  margin-top: 10px;
}

.let_comp .compositions {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 90px;
}

.let_comp .compositions .composition {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.let_comp .compositions .composition .comp_discr {
  width: 585px;
  height: 374.5px;
  margin-top: 45.5px;
  background: #f5f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 30px;
  position: relative;
}

.let_comp .compositions .composition .comp_discr .triangle {
  position: absolute;
  top: 40%;
  right: -2%;
}

.let_comp .compositions .composition .comp_discr .date_line_title {
  margin-top: 30px;
}

.let_comp .compositions .composition .comp_discr .about_event {
  margin-top: 40px;
  width: auto;
}

.let_comp .compositions .composition .comp_discr .about_event h1 {
  width: 485px;
}

.let_comp .compositions .composition .comp_discr .about_event p {
  color: #798285;
  width: 485px;
  margin-top: 25px;
}

.let_comp .compositions .composition .comp_discr .about_event .itunes_popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 30px;
}

.let_comp .compositions .composition .comp_discr .about_event .itunes_popular .composition_popular {
  width: 230px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.let_comp .compositions .composition .comp_discr .about_event .itunes_popular .composition_popular .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.let_comp .compositions .composition .comp_discr .about_event .itunes_popular .composition_popular .popular span {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  margin-left: 5px;
}

.let_comp .compositions .composition .comp_video video {
  width: 585px;
  height: 420px;
}

.let_comp .compositions #second_composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.let_comp .compositions #second_composition .triangle {
  position: absolute;
  top: 40%;
  left: -2%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 991px) {
  .let_comp {
    margin-bottom: 60px;
  }
  .let_comp .section_info {
    margin-top: 60px;
  }
  .let_comp .compositions {
    margin-top: 20px;
  }
  .let_comp .compositions .composition {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -35px;
  }
  .let_comp .compositions .composition .comp_discr {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
  .let_comp .compositions .composition .comp_discr .triangle {
    position: absolute;
    top: 98.5%;
    left: 49%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .let_comp .compositions .composition .comp_discr .date_line_title {
    margin-left: 10px;
  }
  .let_comp .compositions .composition .comp_discr .about_event {
    margin-top: 40px;
    margin-left: 10px;
  }
  .let_comp .compositions #second_composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .let_comp .compositions #second_composition .triangle {
    position: absolute;
    top: 98.5%;
    left: 49%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 567px) {
  .let_comp .section_info .section_info_h1 {
    font-size: 32px;
  }
  .let_comp .section_info .section_info_hr {
    width: 295px;
    margin-top: 6px;
  }
  .let_comp .compositions .composition .comp_discr {
    width: 300px;
    height: 374.5px;
    padding-left: 0;
  }
  .let_comp .compositions .composition .comp_discr .date_line_title {
    margin-top: 30px;
  }
  .let_comp .compositions .composition .comp_discr .about_event h1 {
    width: 285px;
  }
  .let_comp .compositions .composition .comp_discr .about_event p {
    width: 285px;
  }
  .let_comp .compositions .composition .comp_discr .about_event .itunes_popular .visit_buy span {
    margin-right: 8px;
  }
  .let_comp .compositions .composition .comp_discr .about_event .itunes_popular .composition_popular {
    width: 140px;
    margin-left: 20px;
  }
  .let_comp .compositions .composition .comp_discr .about_event .itunes_popular .composition_popular .popular img {
    width: 10px;
    height: auto;
  }
  .let_comp .compositions .composition .comp_discr .about_event .itunes_popular .composition_popular .popular span {
    font-size: 9px;
    margin-left: 2px;
  }
  .let_comp .compositions .composition .comp_video video {
    width: 300px;
    height: 214px;
  }
  #third_composition {
    height: 354.5px;
  }
}

#sli {
  width: 100%;
  height: 642px;
  background: url(../img/bg_slider.jpg) no-repeat center/cover;
  position: relative;
}

#sli .slider_nav {
  position: absolute;
}

#sli .slider_nav .triangle_nav {
  height: 100px;
  width: auto;
  position: static;
  cursor: pointer;
}

#sli .slider_nav .slider_nav_arr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#sli #left_arrow {
  top: 41.5%;
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#sli #right_arrow {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.my_slick-dots {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: -10px;
}

.my_slick-dots li {
  list-style: none;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.my_slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 12px;
  border: 1.5px solid #fff;
  background: #fff;
  border-radius: 7px;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.my_slick-dots li button:focus {
  background: none;
}

.my_slick-dots li.slick-active button {
  background: transparent;
}

.sect_slide {
  width: inherit;
  height: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sect_slide #melody {
  display: block;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 40px;
}

.sect_slide .slider {
  width: 900px;
}

.sect_slide .slider .slide {
  width: inherit;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}

.sect_slide .slider .slide h1 {
  font-family: Dosis;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

.sect_slide .slider .slide p {
  width: 514px;
  font-size: 14px;
  font-weight: 400;
  color: #798285;
  text-align: center;
  line-height: 1.5;
}

.sect_slide .slider .slide span {
  font-size: 14px;
  font-weight: 400;
  color: #798285;
}

@media screen and (max-width: 991px) {
  #sli .slider_nav {
    visibility: hidden;
  }
  .sect_slide {
    width: inherit;
  }
  .sect_slide .slider {
    width: inherit;
  }
}

@media screen and (max-width: 567px) {
  .sect_slide .slider .slide h1 {
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .sect_slide .slider .slide p {
    width: 250px;
    font-size: 12px;
    font-weight: 400;
    color: #798285;
    text-align: center;
  }
  .sect_slide .slider .slide span {
    font-size: 14px;
    font-weight: 400;
    color: #798285;
  }
}

.section_new {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 130px;
  margin-bottom: 120px;
}

.section_new .new_element {
  width: 370px;
  height: 410px;
  margin-top: 30px;
  opacity: 0.7;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.section_new .new_element:hover {
  opacity: 1;
}

.section_new .new_element .element_discr {
  margin-left: 25px;
}

.section_new .new_element .element_discr .date_line_title {
  width: 300px;
  margin-top: 20px;
}

.section_new .new_element .element_discr .date_line_title .line_hr {
  width: 300px;
  margin-left: 0;
}

.section_new .new_element .element_discr .date_line_title .title_span {
  color: #fff;
}

.section_new .new_element .element_discr .about_event {
  margin-top: 40px;
  width: 300px;
}

.section_new .new_element .element_discr .about_event p {
  width: inherit;
  margin-top: 50px;
  color: #798285;
}

.section_new .new_element .element_discr #first_element_p {
  margin-top: 25px;
}

.section_new .new_element_img_01 {
  background: url(../img/section_new_01.jpg) no-repeat center/cover;
}

.section_new .new_element_img_02 {
  background: url(../img/section_new_02.jpg) no-repeat center/cover;
}

.section_new .new_element_img_03 {
  background: url(../img/section_new_03.jpg) no-repeat center/cover;
}

.section_new .new_element_img_04 {
  background: url(../img/section_new_04.jpg) no-repeat center/cover;
}

.section_new .new_element_img_05 {
  background: url(../img/section_new_05.jpg) no-repeat center/cover;
}

.section_new .new_element_img_06 {
  background: url(../img/section_new_06.jpg) no-repeat center/cover;
}

@media screen and (max-width: 991px) {
  .section_new {
    margin-top: 50px;
    margin-bottom: 120px;
  }
  .section_new .new_element {
    width: 312.5px;
    height: 340px;
    margin-top: 20px;
  }
  .section_new .new_element .element_discr .date_line_title {
    width: 270px;
  }
  .section_new .new_element .element_discr .date_line_title .line_hr {
    width: 270px;
  }
  .section_new .new_element .element_discr .about_event {
    width: 270px;
    margin-left: 0;
  }
  .section_new .new_element .element_discr .about_event p {
    margin-top: 30px;
  }
  .section_new .new_element .element_discr #first_element_p {
    margin-top: 15px;
  }
  .section_new .new_element .element_discr #first_element_h1 {
    margin-top: -12px;
  }
}

@media screen and (max-width: 567px) {
  .section_new .new_element .element_discr {
    margin-left: 5px;
    width: 275px;
  }
  .section_new .new_element .element_discr #first_element_p {
    margin-top: 30px;
  }
  .section_new .new_element .element_discr #first_element_h1 {
    margin-top: 0;
  }
}

#upcoming_events {
  width: 100%;
  height: 1203px;
  background: url(../img/bg_upcoming.jpg) no-repeat bottom;
}

.upcoming {
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.upcoming .section_info {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 110px;
}

.upcoming .section_info .section_info_h1 {
  color: #42717e;
  margin-left: 10px;
}

.upcoming .section_info .section_info_hr {
  width: 400px;
}

.upcoming .vertical_line_02 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 33px;
  height: 165px;
  border-left: 1px solid;
}

.upcoming .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.upcoming .event h1 {
  font-size: 23px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.upcoming .event hr {
  width: 118px;
  margin-left: 0;
}

.upcoming .event p {
  width: 510px;
  font-size: 14px;
  font-weight: 400;
  color: #798285;
  line-height: 1.5;
}

.upcoming .event .vertical_line_01 {
  height: 50px;
  border-left: 1px solid;
  margin-left: 33px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.upcoming .event span {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 991px) {
  #upcoming_events {
    height: 953px;
  }
  .upcoming {
    margin-top: 0;
    width: 510px;
  }
}

@media screen and (max-width: 567px) {
  #upcoming_events {
    height: 740px;
  }
  .upcoming {
    width: 280px;
    margin-right: 12px;
  }
  .upcoming .section_info {
    margin-bottom: 70px;
  }
  .upcoming .section_info .section_info_h1 {
    font-size: 35px;
    margin-left: 7px;
  }
  .upcoming .section_info .section_info_hr {
    width: 280px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  .upcoming .vertical_line_02 {
    margin-left: 33px;
    height: 115px;
    margin-left: 27px;
  }
  .upcoming .event h1 {
    font-size: 16px;
  }
  .upcoming .event hr {
    width: 84px;
  }
  .upcoming .event p {
    width: 280px;
    font-size: 12px;
  }
  .upcoming .event .vertical_line_01 {
    height: 35px;
    margin-left: 27px;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .upcoming .event span {
    font-size: 12px;
  }
}

#history {
  width: 100%;
  height: 1250px;
  background: url(../img/bg_history.jpg) no-repeat bottom;
}

.section_history {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 70px;
}

.section_history .section_info .section_info_h1 {
  color: #5b5c5a;
}

.section_history .section_info .section_info_hr {
  width: 230px;
}

.section_history .slide_history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 200px;
  margin-top: 200px;
}

.section_history .slide_history .history_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_history .slide_history .history_date .h1_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin-left: 23px;
}

.section_history .slide_history .history_date .h1_points .point {
  width: 8px;
  height: 8px;
  background: #5a5c5b;
  border-radius: 5px;
}

.section_history .slide_history .history_date .h1_points h1 {
  font-family: Dosis;
  font-size: 35px;
  font-weight: 400;
  color: #575a59;
  text-transform: uppercase;
}

.section_history .slide_history .history_date hr {
  width: 122px;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.section_history .slide_history .history_discription {
  -webkit-transform: translateX(-47px);
  transform: translateX(-47px);
}

.section_history .slide_history .history_discription p {
  width: 215px;
  font-size: 14px;
  font-weight: 400;
  color: #5a5a58;
  text-align: center;
  line-height: 1.5;
}

.center {
  outline: none;
}

.center .slick-slide {
  outline: none;
}

.center .slick-slide .history_date .h1_points .point {
  visibility: hidden;
}

.center .slick-slide .history_date .h1_points h1 {
  color: #c7c7c7;
}

.center .slick-slide .history_discription {
  display: none;
}

.center .slick-center {
  outline: none;
}

.center .slick-center .history_date .h1_points .point {
  visibility: visible;
}

.center .slick-center .history_date .h1_points h1 {
  color: #575a59;
}

.center .slick-center .history_discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  #history {
    height: 1070px;
  }
  .section_history {
    margin-top: 40px;
  }
  .section_history .slide_history {
    margin-right: 0;
    margin-top: 80px;
    margin-left: 73px;
  }
  .section_history .slide_history .history_date .h1_points {
    width: 120px;
    margin-left: 0;
  }
  .section_history .slide_history .history_date .h1_points h1 {
    font-size: 25px;
  }
  .section_history .slide_history .history_date hr {
    width: 73px;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  .section_history .slide_history .history_discription {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
}

@media screen and (max-width: 567px) {
  #history {
    height: 1030px;
  }
  .section_history {
    margin-top: 85px;
  }
  .section_history .section_info .section_info_hr {
    width: 150px;
  }
  .section_history .slide_history {
    margin-top: 50px;
    margin-left: 173px;
  }
  .section_history .slide_history .history_date .h1_points {
    width: 105px;
    margin-left: 0;
  }
  .section_history .slide_history .history_date hr {
    width: 173px;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  .section_history .slide_history .history_discription {
    -webkit-transform: translateX(-90px);
    transform: translateX(-90px);
  }
  .section_history .slide_history .history_discription p {
    font-size: 12px;
  }
}

footer {
  width: 100%;
  height: 980px;
  background: url(../img/bg_footer.jpg) no-repeat bottom;
}

.section_contact {
  width: 560px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 200px;
}

.section_contact .section_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section_contact .section_info .section_info_h1 {
  color: #000;
  margin: 0;
}

.section_contact .section_info .section_p {
  margin-top: 30px;
  text-align: left;
  line-height: 2;
  width: inherit;
}

.section_contact .forms_icons {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

.section_contact .forms_icons .forms form {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section_contact .forms_icons .forms form input {
  width: 350px;
  height: 35px;
  border: none;
  border-bottom: 1px solid;
  font-size: 14px;
  font-weight: 400;
  color: #798285;
  outline: none;
  background: inherit;
}

.section_contact .forms_icons .forms form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #798285;
}

.section_contact .forms_icons .forms form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #798285;
}

.section_contact .forms_icons .forms form input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #798285;
}

.section_contact .forms_icons .forms form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #798285;
}

.section_contact .forms_icons .forms span {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.section_contact .forms_icons .icons {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 27px;
  border-left: 1px solid;
  padding-left: 20px;
  margin-left: 80px;
}

.section_contact .forms_icons .icons img {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .section_contact {
    margin-top: 50px;
    width: 480px;
  }
}

@media screen and (max-width: 567px) {
  .section_contact {
    width: 290px;
    margin-top: 80px;
  }
  .section_contact .section_info .section_p {
    width: 250px;
  }
  .section_contact .forms_icons {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
  }
  .section_contact .forms_icons .forms form {
    height: 160px;
  }
  .section_contact .forms_icons .forms form input {
    width: 200px;
    height: 30px;
    font-size: 12px;
  }
  .section_contact .forms_icons .forms span {
    font-size: 16px;
  }
  .section_contact .forms_icons .icons {
    height: 160px;
    margin-top: 20px;
    margin-left: 45px;
  }
  .section_contact .forms_icons .icons img {
    cursor: pointer;
  }
}
