* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Medium.ttf);
}
body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  height: 1062px;
  background: url(../img/bg_header.jpg) no-repeat center / cover;
  position: relative;

  .header_menu {
    width: 100%;
    height: 62px;
    background: rgba(229, 230, 230, 0.45);
    display: flex;
    align-items: center;

    .desctop_menu {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        font-family: Dosis;
        font-size: 17px;
        font-weight: 400;
        color: #606060;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          font-weight: 700;
          color: black;
        }
      }
    }
  }

  #img_logo {
    position: absolute;
    top: 39.3%;
    left: 49.7%;
    transform: translate(-50%, -50%);
  }
}

.ipad_menu {
  width: 100%;
  margin-top: 20px;

  .navbar {
    display: none;
    justify-content: space-between;
    align-items: center;

    .navbar-btn {
      color: #bebebe;
      font-size: 75px;
      border: none;
      cursor: pointer;
      outline: none;
      background: none;
      margin-left: auto;
    }

    .navbar-btn:hover {
      color: black;
    }

    .nav-link {
      text-decoration: none;
      font-family: Dosis;
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      color: #18191A;
      display: block;
      min-width: 100px;
      padding: 10px;
    }

    .nav-link:hover {
      color: black;
      font-weight: 700;
    }

    .nav-item {
      list-style: none;
      background: rgba(229, 230, 230, 0.45);
      border-bottom: solid 1px black;

      &:last-child {
        border: none;
      }
    }

    .nav-item:hover {
      background: rgba(229, 230, 230, 0.95);
    }

    .navbar-inner {
      background: rgba(24, 25, 26, 0.45);
      border-radius: 5px;
      position: absolute;
      right: 2%;
      top: 85%;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
      text-align: center;
      z-index: 1;
      width: auto;
    }

    .in {
      opacity: 100;
      visibility: visible;
    }

    .nav {
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 645px;
  }

  header {
    .header_menu {
      display: none;
    }

    #img_logo {
      left: 49.4%;
    }
  }

  .ipad_menu {
    .navbar {
      display: flex;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  header {
    .header_menu {
      display: none;
    }

    #img_logo {
      width: 292px;
      top: 49.3%;
      left: 49.7%;
    }
  }

  .ipad_menu {
    .navbar {
      display: flex;

      .navbar-btn {
        font-size: 55px;
      }

      .nav-link {
        font-size: 14px;
      }

      .navbar-inner {
        right: 3%;
      }
    }
  }
}

.section_info {
  width: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;


  .section_info_h1 {
    font-family: Dosis;
    font-size: 50px;
    font-weight: 400;
    color: #99684f;
    margin: 0;
    text-transform: uppercase;
  }

  .section_info_hr {
    width: 430px;
    background: #000;
    position: absolute;
    top: 21px;
  }


  .section_p {
    margin: 0;
    margin-top: 40px;
    width: 560px;
    font-size: 14px;
    font-weight: 700;
    color: #798285;
    text-align: center;
  }
}

.date_line_title {
  width: 400px;
  display: flex;
  flex-direction: column;

  .date_span {
    font-size: 14px;
    font-weight: 700;
    color: #575757;
  }

  .line_hr {
    width: inherit;
  }

  .title_span {
    font-size: 14px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
  }
}

.about_event {
  width: 680px;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    font-size: 23px;
    font-weight: 700;
    color: #000;
  }

  p {
    width: 625px;
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
  }

  .play_disco {
    width: 196px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 196px;
      height: 56px;
      transition: transform 1s;

      &:hover {
        transform: scale(1.1);
      }
    }

    span {
      position: absolute;
      font-size: 14px;
      font-weight: 900;
      color: #000;
      text-transform: uppercase;
    }

    #first_play {
      color: #fff;
    }
  }

  .visit_buy {
    width: 196px;
    height: 56px;
    border: 1px solid #b0b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 14px;
      font-weight: 900;
      color: #000;
      margin-right: 15px;
    }

    &:hover {
      background: #b0b3b3;
    }
  }
}

#discographi {
  width: 100%;
  height: 1700px;
  background: url(../img/bg_discography.jpg) no-repeat bottom;
}

.disco {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  .discographi_content {
    width: inherit;
    height: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;

    .dis_cont {
      width: inherit;
      display: flex;
      justify-content: space-between;

      .date_line_title {
        margin-top: 15px;
        width: 430px;
        margin-left: 20px;
      }

      #date_line_title_03 {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #discographi {
    height: 1900px;

  }

  .about_event {
    width: 515px;
    margin-top: 30px;
    margin-left: 47px;

    p {
      width: 515px;
    }

    .play_disco {
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .disco {

    .discographi_content {
      height: 1125px;
      margin-top: 100px;


      .dis_cont {
        width: inherit;
        display: flex;
        flex-direction: column;

        .date_line_title {
          margin-top: 0;
          width: 515px;
          margin-left: 47px;
        }

        #date_line_title_03 {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section_info {
    margin-top: -20px;

    .section_info_h1 {
      font-size: 35px;
    }

    .section_info_hr {
      width: 250px;
      top: 11px;
    }

    .section_p {
      width: 300px;
      font-size: 12px;
    }
  }

  .date_line_title {
    width: 285px;

    .date_span {
      font-size: 12px;
    }

    .title_span {
      font-size: 12px;
    }
  }

  .about_event {
    width: 285px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 10px;

    h1 {
      font-size: 16px;
    }

    p {
      width: 285px;
      font-size: 12px;
    }

    .play_disco {
      width: 118px;
      height: 34px;
      margin: 0 auto;
      margin-top: 20px;

      img {
        width: 118px;
        height: 34px;
      }

      span {
        font-size: 10px;
      }
    }

    .visit_buy {
      width: 130px;
      height: 40px;
    }
  }

  #discographi {
    height: 1800px;
  }

  .disco {

    .discographi_content {
      height: 1200px;
      margin-top: 70px;

      .dis_cont {
        display: flex;
        flex-direction: column;

        .date_line_title {
          margin-top: 15px;
          width: 285px;
          margin-left: 10px;
        }

        #date_line_title_03 {
          margin-top: 20px;
        }
      }
    }
  }
}

@font-face {
  font-family: Mariad;
  src: url(../fonts/MyriadPro-Regular.otf);
}

#concert_tours {
  width: 100%;
  height: 1300px;
  background: url(../img/bg_concert_tours.jpg) no-repeat bottom;
}

.con_turs {
  width: inherit;
  display: flex;
  flex-direction: column;

  .section_info {
    margin-top: 100px;
    .section_info_h1 {
      font-family: Mariad;
      color: #7aafb0;
    }

    .section_info_p {
      width: 640px;
    }
  }

  .tours_cont {
    margin-top: 400px;
    margin-left: 20px;

    .about_event {
      margin-top: 80px;

      p {
        color: #798285;
      }

      .visit_buy {
        margin-top: 35px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #concert_tours {
    height: 1200px;
  }

  .con_turs {
    .tours_cont {
      margin-top: 340px;
      margin-left: 40px;

      .about_event {
        margin-top: 50px;
        margin-left: 0;

        p {
          width: 500px;
        }

        .visit_buy {
          margin-top: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #concert_tours {
    height: 1200px;
  }

  .con_turs {
    margin-top: -20px;
    .tours_cont {
      margin-left: 10px;

      .about_event {
        margin-top: 50px;
        margin-left: 0;

        p {
          width: 285px;
        }

        .visit_buy {
          margin-top: 60px;
        }
      }
    }
  }
}

.let_comp {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  .section_info {
    margin-top: 100px;

    .section_info_h1 {
      color: #000;
    }

    .section_info_hr {
      width: 480px;
      margin-top: 10px;
    }
  }

  .compositions {
    width: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 90px;

    .composition {
      width: inherit;
      display: flex;

      .comp_discr {
        width: 585px;
        height: 374.5px;
        margin-top: 45.5px;
        background: #f5f6f6;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        position: relative;

        .triangle {
          position: absolute;
          top: 40%;
          right: -2%;
        }

        .date_line_title {
          margin-top: 30px;
        }

        .about_event {
          margin-top: 40px;
          width: auto;

          h1 {
            width: 485px;
          }

          p {
            color: #798285;
            width: 485px;
            margin-top: 25px;
          }

          .itunes_popular {
            display: flex;
            align-items: flex-end;
            margin-top: 30px;

            .composition_popular {
              width: 230px;
              margin-left: 40px;
              display: flex;
              justify-content: space-between;

              .popular {
                display: flex;
                align-items: center;
                cursor: pointer;

                span {
                  font-size: 12px;
                  font-weight: 400;
                  color: #999;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }

      .comp_video {

        video {
          width: 585px;
          height: 420px;
        }
      }
    }

    #second_composition {
      display: flex;
      flex-direction: row-reverse;

      .triangle {
        position: absolute;
        top: 40%;
        left: -2%;
        transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .let_comp {
    margin-bottom: 60px;

    .section_info {
      margin-top: 60px;
    }

    .compositions {
      margin-top: 20px;

      .composition {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -35px;

        .comp_discr {
          transform: translateY(45px);

          .triangle {
            position: absolute;
            top: 98.5%;
            left: 49%;
            transform: rotate(90deg);
          }

          .date_line_title {
            margin-left: 10px;
          }

          .about_event {
            margin-top: 40px;
            margin-left: 10px;
          }
        }
      }

      #second_composition {
        display: flex;
        flex-direction: column;

        .triangle {
          position: absolute;
          top: 98.5%;
          left: 49%;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .let_comp {
    .section_info {
      .section_info_h1 {
        font-size: 32px;
      }

      .section_info_hr {
        width: 295px;
        margin-top: 6px;
      }
    }

    .compositions {

      .composition {

        .comp_discr {
          width: 300px;
          height: 374.5px;
          padding-left: 0;


          .date_line_title {
            margin-top: 30px;
          }

          .about_event {

            h1 {
              width: 285px;
            }

            p {
              width: 285px;
            }

            .itunes_popular {
              .visit_buy {
                span {
                  margin-right: 8px;
                }
              }

              .composition_popular {
                width: 140px;
                margin-left: 20px;

                .popular {
                  img {
                    width: 10px;
                    height: auto;
                  }

                  span {
                    font-size: 9px;
                    margin-left: 2px;
                  }
                }
              }
            }
          }
        }

        .comp_video {

          video {
            width: 300px;
            height: 214px;
          }
        }
      }
    }
  }

  #third_composition {
    height: 354.5px;
  }
}

#sli {
  width: 100%;
  height: 642px;
  background: url(../img/bg_slider.jpg) no-repeat center / cover;
  position: relative;

  .slider_nav {
    position: absolute;

    .triangle_nav {
      height: 100px;
      width: auto;
      position: static;
      cursor: pointer;
    }

    .slider_nav_arr {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
    }
  }

  #left_arrow {
    top: 41.5%;
    left: 0;
    transform: rotate(180deg);
  }

  #right_arrow {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.my_slick-dots {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: -10px;

  li {
    list-style: none;
    transform: translateX(-20px);

    button {
      font-size: 0;
      width: 10px;
      height: 12px;
      border: 1.5px solid #fff;
      background: #fff;
      border-radius: 7px;
      margin: 10px;
      outline: none;
    }

    button:focus {
      background: none;
    }
  }
}

.sect_slide {
  width: inherit;
  height: 642px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #melody {
    display: block;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 40px;
  }

  .slider {
    width: 900px;

    .slide {
      width: inherit;
      height: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 70px;

      h1 {
        font-family: Dosis;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        width: 514px;
        font-size: 14px;
        font-weight: 400;
        color: #798285;
        text-align: center;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: #798285;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #sli {
    .slider_nav {
      visibility:hidden;
    }
  }

  .sect_slide {
    width: inherit;

    .slider {
      width: inherit;
    }
  }
}

@media screen and (max-width: 767px) {
  .sect_slide {

    .slider {

      .slide {

        h1 {
          font-family: Dosis;
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
        }

        p {
          width: 250px;
          font-size: 12px;
          font-weight: 400;
          color: #798285;
          text-align: center;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          color: #798285;
        }
      }
    }
  }
}

.section_new {
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 130px;
  margin-bottom: 120px;

  .new_element {
    width: 370px;
    height: 410px;
    margin-top: 30px;
    opacity: 0.7;
    transition: opacity 1s;

    &:hover {
      opacity: 1;
    }

    .element_discr {
      margin-left: 25px;

      .date_line_title {
        width: 300px;
        margin-top: 20px;

        .line_hr {
          width: 300px;
          margin-left: 0;
        }

        .title_span {
          color: #fff;
        }
      }

      .about_event {
        margin-top: 40px;
        width: 300px;

        p {
          width: inherit;
          margin-top: 50px;
          color: #798285;
        }
      }

      #first_element_p {
        margin-top: 25px;
      }
    }
  }

  .new_element_img_01 {
    background: url(../img/section_new_01.jpg) no-repeat center / cover;
  }

  .new_element_img_02 {
    background: url(../img/section_new_02.jpg) no-repeat center / cover;
  }

  .new_element_img_03 {
    background: url(../img/section_new_03.jpg) no-repeat center / cover;
  }

  .new_element_img_04 {
    background: url(../img/section_new_04.jpg) no-repeat center / cover;
  }

  .new_element_img_05 {
    background: url(../img/section_new_05.jpg) no-repeat center / cover;
  }

  .new_element_img_06 {
    background: url(../img/section_new_06.jpg) no-repeat center / cover;
  }
}

@media screen and (max-width: 1199px) {
  .section_new {
    margin-top: 50px;
    margin-bottom: 120px;

    .new_element {
      width: 312.5px;
      height: 340px;
      margin-top: 20px;

      .element_discr {

        .date_line_title {
          width: 270px;

          .line_hr {
            width: 270px;
          }
        }

        .about_event {
          width: 270px;
          margin-left: 0;

          p {
            margin-top: 30px;
          }
        }

        #first_element_p {
          margin-top: 15px;
        }

        #first_element_h1 {
          margin-top: -12px;
        }
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .section_new {
    .new_element {
      .element_discr {
        margin-left: 5px;
        width: 275px;
        #first_element_p {
          margin-top: 30px;
        }

        #first_element_h1 {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}
