//to compile...

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  height: 1062px;
  background: url(../img/bg_header.jpg) no-repeat center / cover;
  position: relative;

  .top-menu__block {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px 0 25px 0;

    .top-menu {
      width: 97%;
      margin-left: auto;
      position: relative;

      &__toggler-icon {
        display: none;
      }

      &__navbar-nav {
        margin: 0;
        padding: 0;
        width: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .nav-item {
          list-style: none;

          .nav-link {
            font-family: Dosis;
            font-size: 17px;
            font-weight: 400;
            color: darken(#fff, 20%);
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            padding-bottom: 10px;
            position: relative;
            -webkit-transition: all, .3s;
            transition: all, .3s;

            &::after {
              content: '';
              display: block;
              margin: 0 auto;
              width: 0;
              height: 1px;
              background: #fff;
              -webkit-transform: translateY(3px);
                      transform: translateY(3px);
              -webkit-transition: all, .3s;
              transition: all, .3s;
            }

            &:hover {
              color: #fff;

              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  #img_logo {
    position: absolute;
    width: 340px;
    top: 50.3%;
    left: 49.7%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  header {
    .top-menu__block {
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      padding: 25px 0 25px 0;

      .container {
        width: 100%;
      }

      .top-menu {
        width: 100%;
        margin-left: 0;

        &__toggler-icon {
          display: block;
          width: 45px;
          margin-left: auto;
          margin-right: 30px;
          cursor: pointer;
          -webkit-transition: all, 0.3s;
          transition: all, 0.3s;

          &:hover {
            -webkit-filter: brightness(1000%);
                    filter: brightness(1000%);
          }
        }

        &__navbar-nav {
          position: absolute;
          top: 178%;
          background: rgba(0, 0, 0, 0.6);
          z-index: 10;
          padding-bottom: 20px;
          display: none;

          .nav-item {
            list-style: none;
            text-align: center;
            margin-bottom: 30px;

            .nav-link {
              font-size: 22px;
            }
          }
        }
      }
    }

    #img_logo {
      width: 320px;
      top: 51.3%;
      left: 49.6%;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 530px;
  }

  header {
    .top-menu__block {
      .top-menu {
        &__toggler-icon {
          width: 35px;
          margin-right: 20px;
        }

        &__navbar-nav {
          top: 200%;

          .nav-item {
            margin-bottom: 20px;

            .nav-link {
              font-size: 17px;
            }
          }
        }
      }
    }

    #img_logo {
      width: 310px;
      top: 51.3%;
      left: 49.6%;
    }
  }
}

@media screen and (max-width: 567px) {
  .container {
    width: 290px;
  }

  header {
    #img_logo {
      width: 280px;
      top: 51.3%;
      left: 49.0%;
    }
  }
}

.section_info {
  width: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;


  .section_info_h1 {
    font-family: Dosis;
    font-size: 50px;
    font-weight: 400;
    color: #99684f;
    margin: 0;
    text-transform: uppercase;
  }

  .section_info_hr {
    width: 430px;
    background: #000;
    position: absolute;
    top: 21px;
  }


  .section_p {
    margin: 0;
    margin-top: 40px;
    width: 60%;
    font-size: 14px;
    font-weight: 400;
    color: #798285;
    text-align: center;
    line-height: 1.5;
  }
}

.date_line_title {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  .date_span {
    font-size: 14px;
    font-weight: 700;
    color: #575757;
  }

  .line_hr {
    width: 280px;
    margin-left: 0;
  }

  .title_span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }
}

.about_event {
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  h1 {
    margin: 0;
    font-size: 23px;
    font-weight: 400;
    color: #000;
  }

  p {
    width: 97%;
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
    line-height: 1.5;
  }

  .play_disco {
    width: 196px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 196px;
      height: 56px;
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s;

      &:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
    }

    span {
      position: absolute;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
    }

    #first_play {
      color: #fff;
    }
  }

  .visit_buy {
    width: 196px;
    height: 56px;
    border: 1px solid #b0b3b3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;

    span {
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-right: 15px;
    }

    &:hover {
      background: #b0b3b3;
    }
  }
}

#discographi {
  width: 100%;
  height: 1700px;
  background: url(../img/bg_discography.jpg) no-repeat bottom;
}

.disco {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .discographi_content {
    width: inherit;
    height: 930px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 150px;

    .dis_cont {
      width: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      .date_line_title {
        margin-top: 15px;
        width: 430px;
        margin-left: 20px;
      }

      #date_line_title_03 {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .disco {
    .discographi_content {
      .dis_cont {
        .date_line_title {
          width: 330px;
        }
      }
    }
  }

  .section_info {
    .section_p {
      width: 73%;
    }
  }

  .about_event {
    width: 575px;
  }
}

@media screen and (max-width: 991px) {
  #discographi {
    height: 1800px;

  }

  .section_info {
    .section_p {
      width: 87%;
    }
  }

  .about_event {
    width: inherit;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .play_disco {
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .disco {
    .discographi_content {
      height: 1125px;
      margin-top: 70px;


      .dis_cont {
        width: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .date_line_title {
          margin-top: 0;
          width: inherit;
          margin-left: 0;
        }

        #date_line_title_03 {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .disco {
    .discographi_content {
      height: 1220px;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 567px) {
  .section_info {
    margin-top: -20px;

    .section_info_h1 {
      font-size: 35px;
    }

    .section_info_hr {
      width: 250px;
      top: 11px;
    }

    .section_p {
      font-size: 12px;
      width: 89%;
    }
  }

  .date_line_title {
    width: 285px;

    .date_span {
      font-size: 12px;
    }

    .title_span {
      font-size: 12px;
    }
  }

  .about_event {
    width: 285px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;

    h1 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }

    .play_disco {
      width: 118px;
      height: 34px;
      margin: 0 auto;
      margin-top: 20px;

      img {
        width: 118px;
        height: 34px;
      }

      span {
        font-size: 10px;
      }
    }

    .visit_buy {
      width: 130px;
      height: 40px;
    }
  }

  #discographi {
    height: 1800px;
  }

  .disco {
    .discographi_content {
      height: 1313px;
      margin-top: 50px;

      .dis_cont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .date_line_title {
          margin-top: 15px;
          width: 285px;
          margin-left: 0;
        }

        #date_line_title_03 {
          margin-top: 20px;
        }
      }
    }
  }
}

#concert_tours {
  width: 100%;
  height: 1300px;
  background: url(../img/bg_concert_tours.jpg) no-repeat bottom;
}

.con_turs {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  .section_info {
    margin-top: 100px;
    .section_info_h1 {
      color: #7aafb0;
    }
  }

  .tours_cont {
    margin-top: 400px;
    margin-left: 20px;

    .about_event {
      margin-top: 80px;

      p {
        color: #798285;
      }

      .visit_buy {
        margin-top: 35px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #concert_tours {
    height: 1200px;
  }

  .con_turs {
    .tours_cont {
      margin-top: 340px;
      margin-left: 40px;

      .about_event {
        margin-top: 50px;
        margin-left: 0;

        .visit_buy {
          margin-top: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  #concert_tours {
    height: 1200px;
  }

  .con_turs {
    margin-top: -20px;
    .tours_cont {
      margin-left: 0;

      .about_event {
        margin-top: 50px;
        margin-left: 0;

        .visit_buy {
          margin-top: 20px;
        }
      }
    }
  }
}

.let_comp {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;

  .section_info {
    margin-top: 100px;

    .section_info_h1 {
      color: #000;
    }

    .section_info_hr {
      width: 480px;
      margin-top: 10px;
    }
  }

  .compositions {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 90px;

    .composition {
      width: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .comp_discr {
        width: 585px;
        height: 374.5px;
        margin-top: 45.5px;
        background: #f5f6f6;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 30px;
        position: relative;

        .triangle {
          position: absolute;
          top: 40%;
          right: -2%;
        }

        .date_line_title {
          margin-top: 30px;
        }

        .about_event {
          margin-top: 40px;
          width: auto;

          h1 {
            width: 485px;
          }

          p {
            color: #798285;
            width: 485px;
            margin-top: 25px;
          }

          .itunes_popular {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            margin-top: 30px;

            .composition_popular {
              width: 230px;
              margin-left: 40px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;

              .popular {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                cursor: pointer;

                span {
                  font-size: 12px;
                  font-weight: 400;
                  color: #999;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }

      .comp_video {

        video {
          width: 585px;
          height: 420px;
        }
      }
    }

    #second_composition {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;

      .triangle {
        position: absolute;
        top: 40%;
        left: -2%;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .let_comp {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;

    .section_info {
      margin-top: 100px;

      .section_info_h1 {
        color: #000;
      }

      .section_info_hr {
        width: 480px;
        margin-top: 10px;
      }
    }

    .compositions {
      width: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 90px;

      .composition {
        padding-top: 20px;

        .comp_discr {
          width: 440px;
          height: auto;
          margin-top: 0;
          background: #f5f6f6;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding-left: 10px;
          position: relative;

          .triangle {
            position: absolute;
            top: 40%;
            right: -2%;
          }

          .date_line_title {
            margin-top: 15px;
          }

          .about_event {
            margin-top: 15px;
            width: 100%;

            h1 {
              width: 99%;
              font-size: 20px;
            }

            p {
              color: #798285;
              width: 99%;
              margin-top: 25px;
            }

            .itunes_popular {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: end;
                  -ms-flex-align: end;
                      align-items: flex-end;
              margin-top: 10px;

              .visit_buy {
                width: 150px;
              }

              .composition_popular {
                width: 240px;
                margin-left: 10px;
                margin-bottom: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                .popular {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                      -ms-flex-align: center;
                          align-items: center;
                  cursor: pointer;

                  span {
                    font-size: 12px;
                    font-weight: 400;
                    color: #999;
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }

        .comp_video {
          background: #f5f6f6;

          video {
            width: 515px;
            height: 335px;
          }
        }
      }

      #second_composition {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;

        .triangle {
          position: absolute;
          top: 40%;
          left: -2%;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .let_comp {
    margin-bottom: 60px;

    .section_info {
      margin-top: 60px;
    }

    .compositions {
      margin-top: 25px;

      .composition {
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 20px;

        .comp_discr {
          width: 720px;
          padding-left: 0;

          .triangle {
            position: absolute;
            top: 105%;
            left: 49%;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
          }

          .date_line_title {
            margin-left: 10px;
          }

          .about_event {
            margin-top: 30px;
            margin-left: 10px;
            width: 98%;

            h1 {
              text-align: left;
              width: 95%;
              margin-right: auto;
            }

            p {
              text-align: left;
              width: 95%;
              margin-right: auto;
            }

            .itunes_popular {
              margin-right: auto;

              .composition_popular {
                margin-left: 50px;
              }
            }
          }
        }

        .comp_video {
          padding-top: 20px;

          video {
            width: 720px;
            height: 335px;
          }
        }
      }

      #second_composition {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .triangle {
          position: absolute;
          top: 105.5%;
          left: 49%;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .let_comp {
    .compositions {
      .composition {
        .comp_discr {
          width: 525px;
        }

        .comp_video {
          padding-top: 2px;
          video {
            width: 525px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .let_comp {
    .section_info {
      width: 98%;
      .section_info_h1 {
        font-size: 30px;
      }

      .section_p {
        width: 92%;
      }

      .section_info_hr {
        width: 285px;
        margin-top: 6px;
      }
    }

    .compositions {
      .composition {
        .comp_discr {
          width: 290px;
          height: 374.5px;
          padding-left: 0;
          margin-left: 0;


          .date_line_title {
            margin-top: 30px;

            .line_hr {
              width: 260px;
              margin-left: 0;
            }
          }

          .about_event {
            .itunes_popular {
              .visit_buy {
                width: 125px;

                span {
                  margin-right: 8px;
                }
              }

              .composition_popular {
                width: 140px;
                margin-left: 10px;

                .popular {
                  img {
                    width: 10px;
                    height: auto;
                  }

                  span {
                    font-size: 9px;
                    margin-left: 2px;
                  }
                }
              }
            }
          }
        }

        .comp_video {

          video {
            width: 290px;
            height: 214px;
          }
        }
      }
    }
  }

  #third_composition {
    height: 354.5px;
  }
}

#sli {
  width: 100%;
  height: 642px;
  background: url(../img/bg_slider.jpg) no-repeat center / cover;
  position: relative;

  .slider_nav {
    position: absolute;

    .triangle_nav {
      height: 100px;
      width: auto;
      position: static;
      cursor: pointer;
    }

    .slider_nav_arr {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }

  #left_arrow {
    top: 41.5%;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  #right_arrow {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.my_slick-dots {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: -10px;

  li {
    list-style: none;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);

    button {
      font-size: 0;
      width: 10px;
      height: 12px;
      border: 1.5px solid #fff;
      background: #fff;
      border-radius: 7px;
      margin: 10px;
      outline: none;
      cursor: pointer;
    }

    button:focus {
      background: none;
    }
  }

  li.slick-active {
    button {
      background: transparent;
    }
  }
}

.sect_slide {
  width: inherit;
  height: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  #melody {
    display: block;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 40px;
  }

  .slider {
    width: 900px;

    .slide {
      width: inherit;
      height: 230px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 70px;

      h1 {
        font-family: Dosis;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.5;
      }

      p {
        width: 514px;
        font-size: 14px;
        font-weight: 400;
        color: #798285;
        text-align: center;
        line-height: 1.5;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: #798285;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #sli {
    .slider_nav {
      visibility:hidden;
    }
  }

  .sect_slide {
    width: inherit;

    .slider {
      width: inherit;
    }
  }
}

@media screen and (max-width: 567px) {
  .sect_slide {
    .slider {
      .slide {

        h1 {
          font-family: Dosis;
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
        }

        p {
          width: 250px;
          font-size: 12px;
          font-weight: 400;
          color: #798285;
          text-align: center;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          color: #798285;
        }
      }
    }
  }
}

.section_new {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 130px;
  margin-bottom: 120px;

  .new_element {
    width: 370px;
    height: 410px;
    margin-top: 30px;
    opacity: 0.7;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;

    &:hover {
      opacity: 1;
    }

    .element_discr {
      margin-left: 25px;

      .date_line_title {
        width: 300px;
        margin-top: 20px;

        .line_hr {
          width: 300px;
          margin-left: 0;
        }

        .title_span {
          color: #fff;
        }
      }

      .about_event {
        margin-top: 40px;
        width: 300px;

        p {
          width: inherit;
          margin-top: 50px;
          color: #798285;
        }
      }

      #first_element_p {
        margin-top: 25px;
      }
    }
  }

  .new_element_img_01 {
    background: url(../img/section_new_01.jpg) no-repeat center / cover;
  }

  .new_element_img_02 {
    background: url(../img/section_new_02.jpg) no-repeat center / cover;
  }

  .new_element_img_03 {
    background: url(../img/section_new_03.jpg) no-repeat center / cover;
  }

  .new_element_img_04 {
    background: url(../img/section_new_04.jpg) no-repeat center / cover;
  }

  .new_element_img_05 {
    background: url(../img/section_new_05.jpg) no-repeat center / cover;
  }

  .new_element_img_06 {
    background: url(../img/section_new_06.jpg) no-repeat center / cover;
  }
}

@media screen and (max-width: 1199px) {
  .section_new {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 991px) {
  .section_new {
    margin-top: 50px;
    margin-bottom: 120px;

    .new_element {
      width: 312.5px;
      height: 340px;
      margin-top: 20px;

      .element_discr {

        .date_line_title {
          width: 270px;

          .line_hr {
            width: 270px;
          }
        }

        .about_event {
          width: 270px;
          margin-left: 0;

          p {
            margin-top: 30px;
          }
        }

        #first_element_p {
          margin-top: 15px;
        }

        #first_element_h1 {
          margin-top: -12px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section_new {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 120px;

    .new_element {
      width: 254.5px;
      height: 390px;
      margin-top: 20px;
      background-position: right;

      .element_discr {
        margin-left: 10px;

        .date_line_title {
          width: 220px;

          .line_hr {
            width: 220px;
          }
        }

        .about_event {
          width: 225px;
          margin-left: 0;

          p {
            margin-top: 30px;
          }
        }

        #first_element_p {
          margin-top: 15px;
        }

        #first_element_h1 {
          margin-top: -12px;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .section_new {
    .new_element {
      width: 312.5px;
      height: 340px;
      background-position: center;

      .element_discr {
        margin-left: 15px;
        width: 275px;

        .date_line_title {
          width: 250px;

          .line_hr {
            width: 250px;
          }
        }

        .about_event {
          width: 260px;
        }

        #first_element_p {
          margin-top: 30px;
        }

        #first_element_h1 {
          margin-top: 0;
        }
      }
    }
  }
}

#upcoming_events {
  width: 100%;
  height: 1203px;
  background: url(../img/bg_upcoming.jpg) no-repeat bottom;
}

.upcoming {
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  .section_info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 110px;

    .section_info_h1 {
      color: #42717e;
      margin-left: 10px;
    }

    .section_info_hr {
      width: 400px;
    }
  }

  .vertical_line_02 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 33px;
    height: 165px;
    border-left: 1px solid;
  }

  .event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    h1 {
      font-size: 23px;
      font-weight: 400;
      color: #000;
      margin: 0;
    }

    hr {
      width: 118px;
      margin-left: 0;
    }

    p {
      width: 510px;
      font-size: 14px;
      font-weight: 400;
      color: #798285;
      line-height: 1.5;
    }

    .vertical_line_01 {
      height: 50px;
      border-left: 1px solid;
      margin-left: 33px;
      margin-top: 7px;
      margin-bottom: 10px;
    }

    span {
      font-size: 14px;
      font-weight: 700;
      color: #000;
    }
  }
}

@media screen and (max-width: 991px) {
  #upcoming_events {
    height: 953px;
  }

  .upcoming {
    margin-top: 0;
    width: 510px;
  }
}

@media screen and (max-width: 567px) {
  #upcoming_events {
    height: 740px;
  }

  .upcoming {
    width: 280px;
    margin-right: 12px;

    .section_info {
      margin-bottom: 70px;

      .section_info_h1 {
        font-size: 35px;
        margin-left: 7px;
      }

      .section_info_hr {
        width: 280px;
        -webkit-transform: translateY(2px);
                transform: translateY(2px);
      }
    }

    .vertical_line_02 {
      margin-left: 33px;
      height: 115px;
      margin-left: 27px;
    }

    .event {
      h1 {
        font-size: 16px;
      }

      hr {
        width: 84px;
      }

      p {
        width: 280px;
        font-size: 12px;
      }

      .vertical_line_01 {
        height: 35px;
        margin-left: 27px;
        margin-top: 5px;
        margin-bottom: 7px;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

#history {
  width: 100%;
  height: 1250px;
  background: url(../img/bg_history.jpg) no-repeat bottom;
}

.section_history {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;

  .section_info {
    .section_info_h1 {
      color: #5b5c5a;
    }

    .section_info_hr {
      width: 230px;
    }
  }

  .slide_history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 200px;
    margin-top: 200px;

    .history_date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      .h1_points {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 150px;
        margin-left: 23px;

        .point {
          width: 8px;
          height: 8px;
          background: #5a5c5b;
          border-radius: 5px;
        }

        h1 {
          font-family: Dosis;
          font-size: 35px;
          font-weight: 400;
          color: #575a59;
          text-transform: uppercase;
        }
      }

      hr {
        width: 122px;
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
      }
    }

    .history_discription {
      -webkit-transform: translateX(-47px);
              transform: translateX(-47px);

      p {
        width: 215px;
        font-size: 14px;
        font-weight: 400;
        color: #5a5a58;
        text-align: center;
        line-height: 1.5;
      }
    }
  }
}

.center {
  outline: none;
  .slick-slide {
    outline: none;
    .history_date {
      .h1_points {
        .point {
          visibility: hidden;
        }

        h1 {
          color: #c7c7c7;
        }
      }
    }

    .history_discription {
      display: none;
    }
  }

  .slick-center {
    outline: none;
    .history_date {
      .h1_points {
        .point {
          visibility: visible;
        }

        h1 {
          color: #575a59;
        }
      }
    }

    .history_discription {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

@media screen and (max-width: 1199px) {
  .section_history {
    .slide_history {
      -webkit-transform: translateX(140px);
              transform: translateX(140px);
    }
  }
}

@media screen and (max-width: 991px) {
  #history {
    height: 1070px;
  }

  .section_history {
    margin-top: 40px;

    .slide_history {
      margin-right: 0;
      margin-top: 80px;
      -webkit-transform: translateX(30px);
              transform: translateX(30px);

      .history_date {
        .h1_points {
          width: 120px;
          margin-left: 0;

          h1 {
            font-size: 25px;
          }
        }

        hr {
          width: 73px;
          -webkit-transform: translateX(10px);
                  transform: translateX(10px);
        }
      }

      .history_discription {
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section_history {
    .slide_history {
      -webkit-transform: translateX(35px);
              transform: translateX(35px);
    }
  }
}

@media screen and (max-width: 567px) {
  #history {
    height: 1030px;
  }

  .section_history {
    margin-top: 85px;

    .section_info {
      .section_info_hr {
        width: 150px;
      }
    }

    .slide_history {
      margin-top: 50px;
      -webkit-transform: translateX(85px);
              transform: translateX(85px);

      .history_date {
        .h1_points {
          width: 105px;
          margin-left: 0;
        }

        hr {
          width: 173px;
          -webkit-transform: translateX(10px);
                  transform: translateX(10px);
        }
      }

      .history_discription {
        -webkit-transform: translateX(-90px);
                transform: translateX(-90px);

        p {
          font-size: 12px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 980px;
  background: url(../img/bg_footer.jpg) no-repeat bottom;
}

.section_contact {
  width: 560px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;

  .section_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    .section_info_h1 {
      color: #000;
      margin: 0;
    }

    .section_p {
      margin-top: 30px;
      text-align: left;
      line-height: 2;
      width: inherit;
    }
  }

  .forms_icons {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: inherit;

    .forms {
      form {
        height: 190px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 30px;

        input {
          width: 350px;
          height: 35px;
          border: none;
          border-bottom: 1px solid;
          font-size: 14px;
          font-weight: 400;
          color: #798285;
          outline: none;
          background: inherit;

          &::-webkit-input-placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #798285;
          }

          &:-ms-input-placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #798285;
          }

          &::-ms-input-placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #798285;
          }

          &::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #798285;
          }
        }
      }

      span {
        font-size: 20px;
        font-weight: 900;
        color: #000;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    .icons {
      height: 190px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 27px;
      border-left: 1px solid;
      padding-left: 20px;
      margin-left: 80px;

      img {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .section_contact {
    margin-top: 50px;
    width: 480px;
  }
}

@media screen and (max-width: 567px) {
  .section_contact {
    width: 290px;
    margin-top: 80px;

    .section_info {
      .section_p {
        width: 250px;
      }
    }

    .forms_icons {
      margin-top: 75px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: inherit;

      .forms {
        form {
          height: 160px;

          input {
            width: 200px;
            height: 30px;
            font-size: 12px;
          }
        }

        span {
          font-size: 16px;
        }
      }

      .icons {
        height: 160px;
        margin-top: 20px;
        margin-left: 45px;

        img {
          cursor: pointer;
        }
      }
    }
  }
}
