@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/Dosis-ExtraLight.ttf);
  font-weight: 200;
}
