@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro/MyriadPro-Light.otf);
  font-weight: 300;
}
